* {
    font-family: var(--font-family-text,"Charlie Text",sans-serif);
}

body {
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
    /* background-image: url(./images/bcn.jpg); */
    background-color: #ff9f1a;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
    margin: 0 5px;
    width: 100vw;
    height: 1vh;
}

h2 {
    color: black;
    padding-left: 10px;
    font-size: 1rem;
}


button {
    width: 50px;
    height: 25px;
    padding: 0;
    border: none;
    background: none;
    color: gray;
    border-radius: 0;
    margin-top: 0.5rem;
}

img {
    margin: 2px;
}

.headleft {
    border-radius: 50px;
    padding: 7px;
    background-color: orange;
    display: flex;
    gap: 2px;
}


/* 
.headmid {
    display: flex;
    justify-content: space-around;
    margin: 0 20rem;
}*/

.headright {
    display: flex;
    gap: 5px;
}  


#top {
    position: sticky;
    display: flex;
    justify-content: space-between;
    /* height: 5vh; */
    color: white;
    align-items: center;
    background-color: darkorange;
}

@media only screen and (max-width: 1064px) {
    #top {
        width: 1064px;
    }
  }

#top > * {
    margin: 10px;
}

.company-overview {
    display: flex;
    gap: 5px;
    margin-left: 5px;
}

.join-me {
    display: flex;
    justify-content: flex-end;
    grid-gap: 10px;
    margin-right: 5px;
}

.firstrow {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.card {
    background-color: #c4c9cc;
    max-height: 670px;
    align-items: start;
    border-radius: 10px;
}

.cardhead {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 250px;
}

.cardbot {
    padding-left: 5px; 
    box-sizing: border-box;
    background-color: rgb(211, 205, 205);
    color: gray;
}

.wrapper {
    height: 90vh;
    display: flex;
    gap: 20px;
    align-items: start;
    margin-left: 6px;
    margin-right: 4px;
}

.scroll-card {
    overflow: scroll;
    max-height: 600px;
}

.small-card {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin: 10px;
    width: 270px;
}

.colorbox {
    width: 40px;
    height: 7px;
    /* padding: ;  */
    border-radius: 5px;
}

.colorgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px auto;
}

.nav-icon {
    width: 10px;
    height: 10px;
    margin: 5px;
}

.person-img {
    border-radius: 50px;
    width: 30px;
    height: 30px;
}

.imgflex {
    display: flex;
    justify-content: space-between;
}

.iconleft {
    display: flex;
    align-items: center;
    color: gray;
    padding: 5px;
    justify-content: center;
    gap: 2px;
}

.imgright {
    display: flex;
    justify-content: flex-end;   
    align-items: center;
}

.olddate {
    background-color: rgb(181, 106, 106);
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    color: white;
}

.newdate {
    padding: 5px;
    margin: 2px;
}

.iconleft > * {
    margin-right: 5px;
}