body {
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    height: 100vh; */
    /* background-image: url(./images/bcn.jpg); */
    background-color: orange;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
    margin: 0 5px 5px 5px;
    width: fit-content;
}

h2 {
    color: black;
    padding-left: 10px;
    font-size: 1rem;
}


button {
    width: 50px;
    height: 25px;
    padding: 0;
    border: none;
    background: none;
    color: gray;
    border-radius: 0;
    margin-top: 0.5rem;
}

img {
    margin: 2px;
}

.headleft {
    /* display: flex;
    justify-content: left;
    padding: 2rem; 
    display: flex;
    grid-gap: 10px;
    justify-content: space-between; */
    float: left;
}

/* 
.headmid {
    display: flex;
    justify-content: space-around;
    margin: 0 20rem;
}

.headright {
    display: flex;
    /* justify-content: right;
    grid-gap: 10px;
}  */


#top {
    position: sticky;
    display: flex;
    justify-content: space-between;
    height: 5vh;
    color: white;
    align-items: center;
    background-color: darkorange;
}
/* .company-overview {
    display: flex;
    justify-content: start;
    grid-gap: 10px;
} */

.join-me {
    display: flex;
    justify-content: flex-end;
    grid-gap: 10px;
}

.firstrow {
    display: flex;
    height: 5vh;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.card {
    background-color: rgb(211, 205, 205);
    max-height: 670px;
    align-items: start;
    border-radius: 10px;
}

.cardhead {
    display: flex;
    justify-content: space-between;
    height: 30px;
    width: 270px;
}

.cardbot {
    padding-left: 5px; 
    box-sizing: border-box;
    background-color: rgb(211, 205, 205);
    color: gray;
}

.wrapper {
    height: 90vh;
    display: flex;
    gap: 20px;
    align-items: start;
}

.scroll-card {
    overflow: scroll;
    max-height: 600px;
}

.small-card {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

.colorbox {
    width: 40px;
    height: 7px;
    /* padding: ;  */
    border-radius: 5px;
}

.colorgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10px auto;
}

.nav-icon {
    width: 10px;
    height: 10px;
    margin: 5px;
}

.person-img {
    width: 30px;
    height: 30px;
}

.imgflex {
    display: flex;
    justify-content: space-between;
}

.iconleft {
    display: flex;
    align-items: center;
    color: gray;
    padding: 5px;
    float: left;
}

.imgright {
    display: flex;
    justify-content: flex-end;   
    align-items: center;
}

.olddate {
    background-color: rgb(181, 106, 106);
    padding: 2px;
    margin: 2px;
    border-radius: 2px;
    color: white;
}

.newdate {
    padding: 5px;
    margin: 2px;
}